@font-face {
font-family: "denseRegular";
src: url(../fonts/Dense-Regular.woff) format("woff"), url(../fonts/Dense-Regular.ttf) format("truetype");
}

@font-face {
font-family: "OpenSans-Regular";
src: url(../fonts/OpenSans-Regular.ttf) format("truetype"), url(../fonts/OpenSans-Regular.woff) format("woff");
}

@font-face {
font-family: "OpenSans-ExtraBold";
src: url(../fonts/OpenSans-ExtraBold.ttf) format("truetype"), url(../fonts/OpenSans-ExtraBold.woff) format("woff");
}

@font-face {
font-family: "OpenSans-Semibold";
src: url(../fonts/OpenSans-Semibold.ttf) format("truetype"), url(../fonts/OpenSans-Semibold.woff) format("woff");
}

@font-face {
font-family: "OpenSans-Light";
src: url(../fonts/OpenSans-Light.ttf) format("truetype"), url(../fonts/OpenSans-Light.woff) format("woff");
}

@font-face {
font-family: "OpenSans-Bold";
src: url(../fonts/OpenSans-Bold.ttf) format("truetype"), url(../fonts/OpenSans-Bold.woff) format("woff");
}


* {
list-style:none;
text-decoration:none;
margin:0;
padding:0;
}

a{
	text-decoration:none;
	color:inherit;
}

a:hover{
color:#33B979;	
}

a:visited{
	text-decoration:none;
}

/*************** MENÚ ****************************/
.nav p{
	float:right;
	margin-right:10px;
	margin-top:5px;
	}
.nav{
	 width:1024px;
	 padding-top:3px;
	 text-align:left;
	 margin-left:auto;
	 margin-right:auto;
	 height:50px;
	 font-family:'denseRegular', sans-serif;
	 font-size:30px;
	 color:#FFFFFF;
}

.nav > li {
	margin-top:5px;
float:left;
}
 
.nav li a {
	list-style:none;
	/*display:inline;*/
	margin-right:10px;
	margin-left: 10px;
	/*margin-top:5px;*/
	
	/* */
background:#000000;
display:block;
/*padding:10px 12px;*/
}
 
.nav li a:hover {
background:#0C0C0C;
}

/*PRUEBA*/
.nav li ul li a{
background-color:#0C0C0C;
color:#FFFFFF;
padding-left: 10px;
padding-right: 10px;
}



.nav li ul li a:hover{
background-color:#33B979;
color:#000000;
}


/*PRUEBA*/

.nav li ul {
display:none;
position:absolute;
min-width:100px;
}

.nav li:hover > ul {
display:block;
}

.nav li ul li {
position:relative;
z-index:5;
}
 
.nav li ul li ul {
right:-140px;
top:0;
}

.nav li .flecha{
font-size: 25px;
padding-left: 6px;
display: none;
}

.nav li a:not(:last-child) .flecha {
display: inline;
}
/*************** /MENÚ ****************************/

body {
height: 100%;
background-image:url(../img/fondopuntos.png);
background-repeat:repeat;
}

html{
	width:100%;
height: 100%;
}

#Telefono{
	margin-top:0px;
}
#CorreoS{
	width: 170px;
	}
#Formu{
	margin-top:30px;
	width:300px;
	height: 200px;
}
#Izquierda{
	font:20px "denseRegular", verdana;
	color:#FFFFFF;
	float:left;
	margin:6px;
	padding:15px;
	width:300px;
	height:450px;
	margin-left:20px;
}
#Centro{
	width:1000px;
	background-color:#009966;
	margin-left:auto;
	margin-right:auto;
}
#Mapa{
	margin-top:20px;
}
#global{
	 position: relative;
	 left:0;
	 right:0;
	 width:100%;
	 margin-left:auto;
	 margin-right:auto;
	 min-height: 100%;	
}

#top{
	text-align:center;
	background-color:#000000;
	margin-bottom:25px;
	height: 50px;
	z-index:7;
}

#ecualizador{
	float:right;
	margin-top:5px;
	margin-right:10px;
}

#pie{
	 position: relative;
	text-align:center;
	background-color:#0C0C0C;
	margin-top:25px;
	height: 150px;
}

#contenido{
	text-align:center;
	left:auto;
	background-color: transparent;
	height: 750px;
	width: 1024px;
	float:right;
}

#area {
	background-color:transparent;
	 text-align:center;
     width:1024px;
	 height:750px;
	 margin-left:auto;
	 margin-right:auto;
	 left:auto;
     padding:0px;
}

#logo {
	float:left;
	background-color:transparent;
	 text-align:center;
     width:242px;
	 height:250px;
	 left:auto;
     padding:0px;
}

#slider {
	float:left;
	background-color:#CC9966;
	 text-align:center;
     width:502px;
	 height:250px;
	 margin-left:15px;
     padding:0px;
}

#top10 {
	float:right;
	 background-color:#00D791;
	 text-align:center;
     width:250px;
	 height:500px;
     padding:0px;
	 text-shadow:0 2px #00CC99;
}

#top10 h1{
	font-family: 'denseRegular', sans-serif;
	background-color:#009966;
	font-size:50px;
	color:#000000;
	border-bottom:2px dotted #000000;
}

#top10 .numero{
	font-family: 'OpenSans-ExtraBold', sans-serif;
	font-size:30px;
	margin-left:15px;
}

#top10 .cancion{
	font-family: 'OpenSans-SemiBold', sans-serif;
	font-size:15px;
	margin-left:15px;
}

#top10 .artista{
	font-family: 'OpenSans-Regular', sans-serif;
	font-size:12px;
	margin-left:15px;
}

#top10 ul li{
	/*font-family: 'OpenSans-Semibold', sans-serif;
	font-size:36px;
	color:#000000;*/
	text-align:left;
	border-bottom:2px dotted #000000;
}

.noticia {
	float:left;
	background-color:#009966;
	 text-align:center;
     width:243px;
	 height:235px;
     padding:0px;
	 margin-top:15px;
	 margin-right:15px;
}

#recomendaciones {
	float:left;
	background-color:#00D791;
	 text-align:center;
     width:501px;
	 height:235px;
     padding:0px;
	 margin-top:15px;
	 margin-right:15px;
}

#encuesta {
	float:right;
	background-color:#3333FF;
	 text-align:center;
     width:250px;
	 height:235px;
     padding:0px;
	 margin-top:15px;
}

#botonplay{
	margin-right:10px;
	width:40px;
	height:40px;
	background-color:transparent;
	background-image:url(../img/playimg_p.png);
	float:right;
	border:none;
	}
#botonplay:hover{
	width:40px;
	height:40px;
	cursor:pointer;
	
	background-image:url(../img/playimg_hover_p.png);
	}
	
	#botonstop{
		margin-right:20px;
	width:40px;
	height:40px;
	background-color:transparent;
	background-image:url(../img/stopimg_p.png);
	float:right;
	border:none;
	}
#botonstop:hover{
	width:40px;
	height:40px;
	cursor:pointer;
	
	background-image:url(../img/stopimg_hover_p.png);
	}
#Linkform{
	font:20px "denseRegular", verdana;
}
td{
	font:20px "denseRegular", verdana;
}
pre{
	font:20px "denseRegular", verdana;
}
