@font-face {
font-family: "denseRegular";
src: url(../fonts/Dense-Regular.woff) format("woff"), url(../fonts/Dense-Regular.ttf) format("truetype");
}

@font-face {
font-family: "OpenSans-Regular";
src: url(../fonts/OpenSans-Regular.ttf) format("truetype"), url(../fonts/OpenSans-Regular.woff) format("woff");
}

@font-face {
font-family: "OpenSans-ExtraBold";
src: url(../fonts/OpenSans-ExtraBold.ttf) format("truetype"), url(../fonts/OpenSans-ExtraBold.woff) format("woff");
}

@font-face {
font-family: "OpenSans-Semibold";
src: url(../fonts/OpenSans-Semibold.ttf) format("truetype"), url(../fonts/OpenSans-Semibold.woff) format("woff");
}

@font-face {
font-family: "OpenSans-Light";
src: url(../fonts/OpenSans-Light.ttf) format("truetype"), url(../fonts/OpenSans-Light.woff) format("woff");
}

@font-face {
font-family: "OpenSans-Bold";
src: url(../fonts/OpenSans-Bold.ttf) format("truetype"), url(../fonts/OpenSans-Bold.woff) format("woff");
}


* {
list-style:none;
text-decoration:none;
margin:0;
padding:0;
}

a{
	text-decoration:none;
	color:inherit;
}

a:hover{
color:#33B979;	
}

a:visited{
	text-decoration:none;
}
/*************** MENÚ ****************************/
.nav p{
	float:right;
	margin-right:10px;
	margin-top:5px;
	}
.nav{
	 width:1024px;
	 padding-top:3px;
	 text-align:left;
	 margin-left:auto;
	 margin-right:auto;
	 height:50px;
	 font-family:'denseRegular', sans-serif;
	 font-size:30px;
	 color:#FFFFFF;
}

.nav > li {
	margin-top:5px;
float:left;
}
 
.nav li a {
	list-style:none;
	/*display:inline;*/
	margin-right:10px;
	margin-left: 10px;
	/*margin-top:5px;*/
	
	/* */
background:#000000;
display:block;
/*padding:10px 12px;*/
}
 
.nav li a:hover {
background:#000000;
}

/*PRUEBA*/
.nav li ul li a{
background-color:#000000;
color:#FFFFFF;
padding-left: 10px;
padding-right: 10px;
}



.nav li ul li a:hover{
background-color:#33B979;
color:#000000;
}


/*PRUEBA*/

.nav li ul {
display:none;
position:absolute;
min-width:100px;
}

.nav li:hover > ul {
display:block;
}

.nav li ul li {
position:relative;
z-index:5;
}
 
.nav li ul li ul {
right:-140px;
top:0;
}

.nav li .flecha{
font-size: 25px;
padding-left: 6px;
display: none;
}

.nav li a:not(:last-child) .flecha {
display: inline;
}
/*************** /MENÚ ****************************/
body {
height: 100%;
background-image:url(../img/fondopuntos.png);
background-repeat:repeat;
}

html{
	width:100%;
height: 100%;
}
#Trabajo{
	
	width:800px;
	height:500px;
	background-color:#009966;
	margin-left:auto;
	margin-right:auto;
}
#Trabajo2{
	float:right;
	width:190px;
	height:500px;
	background-color:#FFFFFF;
	margin-left:auto;
	margin-right:auto;
}
#global{
	 position: relative;
	 left:0;
	 right:0;
	 width:100%;
	 margin-left:auto;
	 margin-right:auto;
	 min-height: 100%;	
}

#top{
	text-align:center;
	background-color:#000000;
	margin-bottom:25px;
	height: 50px;
	z-index:7;
}

#ecualizador{
	float:right;
	margin-top:5px;
	margin-right:10px;
}

#pie{
	 position: relative;
	text-align:center;
	background-color:#0C0C0C;
	margin-top:25px;
	height: 150px;
}

#contenido{
	text-align:center;
	left:auto;
	background-color: transparent;
	height: 750px;
	width: 1024px;
	float:right;
}

#area {
	background-color:transparent;
	 text-align:center;
     width:1024px;
	 height:750px;
	 margin-left:auto;
	 margin-right:auto;
	 left:auto;
     padding:0px;
}

#logo {
	float:left;
	background-color:transparent;
	 text-align:center;
     width:242px;
	 height:250px;
	 left:auto;
     padding:0px;
}

	

#Linkform{
	font:20px "denseRegular", verdana;
}
td{
	font:20px "denseRegular", verdana;
}
pre{
	font:20px "denseRegular", verdana;
}


#botonplay{
	margin-right:10px;
	width:40px;
	height:40px;
	background-color:transparent;
	background-image:url(../img/playimg_p.png);
	float:right;
	border:none;
	}
#botonplay:hover{
	width:40px;
	height:40px;
	cursor:pointer;
	
	background-image:url(../img/playimg_hover_p.png);
	}
	
	#botonstop{
		margin-right:20px;
	width:40px;
	height:40px;
	background-color:transparent;
	background-image:url(../img/stopimg_p.png);
	float:right;
	border:none;
	}
#botonstop:hover{
	width:40px;
	height:40px;
	cursor:pointer;
	
	background-image:url(../img/stopimg_hover_p.png);
	}
	
	#video{
		background-color:#00D791;
	}

#pie{
	 position: relative;
	text-align:center;
	background-color:#000000;
	margin-top:25px;
	height: 150px;
	z-index:8;
}
	
#contenedorpie{
	position:relative;
	width:1024px;
	height:150px;
	margin-left:auto;
	margin-right:auto;
	background-color:#006600;
	z-index:9;
	
	}
	
.cajapie{
	background:#000000;
	float:left;
	width:256px;
	height:150px;
	}
	
.cajapie h1{
	margin-left:15px;
	text-align:left;
	font-family: 'OpenSans-ExtraBold', sans-serif;
	text-shadow:0 2px #009966;
	font-size:20px;
	color:#FFFFFF;
	margin-top:10px;
	
	}
	
	.cajapie p{
		margin-left:15px;
	text-align:left;
	font-family: 'OpenSans-Regular', sans-serif;
	font-size:14px;
	color:#FFFFFF;
	margin-top:5px;
	
	}
.cajapie .redes{
	float:left; margin-left:13px; margin-top:15px; width:32px; height:32px;
}

#facebook{ background-image:url(../img/fb_1.png);}
#facebook:hover{ background-image:url(../img/fb_1verde.png);}
#twitter{background-image:url(../img/twitter_2.png);}
#twitter:hover{background-image:url(../img/twitter_2verde.png);}
#flickr{background-image:url(../img/flickr.png);}
#flickr:hover{background-image:url(../img/flickrverde.png);}
#gplus{background-image:url(../img/google_plus.png);}
#gplus:hover{background-image:url(../img/google_plusverde.png);}

#contenedorNoticias{
	background-color:#FFFFFF; float:left; width:700px; height:750px; overflow:auto;
}

#contenedorNoticias a{}
#contenedorNoticias h2{font-family: "denseRegular", sans-serif;
color:#1F9C74;
font-size:60px;}
#contenedorNoticias p{font-family:"Open Sans", sans-serif; text-align:justify;
	font-size:14px;
	color:#000000;}
#contenedorNoticias footer{font-family:"Open Sans", sans-serif;
	font-size:10px;
	color:#333333;}

#artic{
	/*background-color:#999933;*/
	width:610px;
	text-align:left;
	margin-left: 50px;
	margin-top: 35px;
}

.textoLogin{
	float:left;
	margin-top:15px;
	margin-left:15px;
	
	font-family:"OpenSans-Light", sans-serif;
	font-size:14px;
	padding-left:0px;
	color:#999999;
	
	
	background-image:url(../img/fondotexto.png);
	border: 1px solid #999999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-radius-topright: 0px;
	-webkit-border-radius-bottomright: 0px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	width:150px;
	height:26px;
}

#buscar{
	float:left;
	margin-top:15px;
	width:26px; height:28px;
	background-image:url(../img/buscar.jpg);
	border:2px solid #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius-topleft: 0px;
	-webkit-border-radius-bottomleft: 0px;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
}